.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.button {
  background-color: #3642da;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  border-radius: 35px;
  padding: 20px 49px;
  font-size: 24px;
  font-weight: 700;
  padding: 18px;
  min-width: 230px;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
